:root{
    --base-color:white;
    --base-variant:white;
    --text-color:black;
    --secondary-text:rgb(182, 182, 182);
    --primary-color:black;
    --accent-color:red;
    --nav-text-color:white;
    --nav-color:#0d1117;
    --nav-select:#0069ff33;
    --skill-box:pink;
    --separator:grey;
}

.darkmode{
    --base-color:#010409;
    --base-variant:#151b23;
    --text-color:white;
    --secondary-text:grey;
    --primary-color:white;
    --accent-color:red;
    --nav-text-color:white;
    --nav-color:#0d1117;
    --nav-select:#0069ff33;
    --skill-box:purple;
    --separator:grey;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 3%;
}

#theme-switch svg{
    fill: var(--primary-color)
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

#mail{
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    bottom: 20px;
    right: 19%;
    justify-content: center;
    align-items: center;
    position: fixed;

}

#mail svg{
    fill: white;
}

#github{
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    bottom: 20px;
    right: 11.25%;
    justify-content: center;
    align-items: center;
    position: fixed;

}

#github svg{
    fill: white;
}

#thumbs {   
    width: 24.9vw;
    /* margin-top:90px; */
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    display: table-cell;
    border: 1px solid red;
}
#thumbs a {
    vertical-align: top;
    display: inline-block;
    display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}


.img-pulsar{
    margin:0px;
    width: 288px;
    height:162px;

}



* {
    margin: 0;
    /* font-size: 16pt; */
  }
  
body {
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1em; */
    background-color: var(--base-color);
    color: var(--text-color);
    position: relative;
}

main{
    text-align: left;
    width:75vw;
    word-wrap: break-word;
}

.text{
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid var(--secondary-text);
}

section{
    margin-left:50px;
    padding-right: 50px;
}

section p{
    background: var(--base-variant);
}

/* section:before {
    content: " ";
    display: block;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 2px;
    margin-left: 0;
  } */

.seperator {
    content: " ";
    display: block;
    border-top: 2px solid var(--separator);
    border-bottom: 2px solid var(--separator);
    /* border-radius: 2px; */
    margin: 3vh 0 2vh 0;
  }

nav {
    background-color: var(--nav-color);
    position: fixed;
    right: 0px;
    margin: auto;
    height: 100%;
    width: 25vw;
    color: var(--nav-text-color);
    border-left: 1px solid var(--nav-text-color);

    @media (max-width: 768px) {
        display: none;
        font-size: 5px;
    }

    @media (min-width: 768px) {
        font-size: 1rem;
      }
    
    @media (min-width: 1280px) {
        font-size: 24px;
    }
}


nav .test { 
    display: grid; 
    align-items:flex-start; /* Vertically centers items */ 
    height: 40vh; /* Set navbar height */
    /* position: fixed; */
    right: 0px;
    margin: auto;
    width: 24.9vw;
    grid-auto-flow: row; /* Align items in a row */ 
    background-color: var(--nav-color); /* Background color */ 
    color: var(--nav-text-color);
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* padding-top: 50px; */
} 

nav h1{
    height: 10vh; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.info-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

nav p{
    text-align: center;
    height: 15vh;
    /* display: table-cell;
    text-align: center; */
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    > div {
        flex: 0 0 25vw;
    }
}

.nav-items {
width: 100%;
/* height: 120px; */
/* background: #ececec;
border: 1px solid #ddd; */
display:flex;
justify-content: center;
align-items: center;
}

.nav-items a{
    text-align: center;
    text-decoration: none;
    color: var(--nav-text-color);
    width: 100%;
    }

.nav-items a:hover{ 
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--nav-select);
} 

nav .logo-container{
    margin: auto;
    height: 10vh;
    width: 10vh;
    text-align: center;
}

.logo-container img{
    vertical-align: middle;
    width: 10vh;
    height: 10vh;
    transition: transform 0.75s ease-in-out
}

.logo-container img:hover{
    transform: rotateY(180deg);
}

.link-IPAG{
    text-decoration: none;
    color: green;
    font-weight: 600;
}
.link-IPAG:hover{
    text-decoration: underline;
}

a.external-links{
    padding: 10px 10px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background-color: var(--primary-color);
    text-decoration: none;
}

.list-skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;

    @media (min-width: 768px) {
      gap: 12px;
    }
  
    @media (min-width: 1280px) {
      gap: 16px;
    }
}

.tag {
    padding: 6px 12px;
    border-radius: 16px;
    /* font-size: 14px; */
    font-weight: 600;
    background-color: var(--skill-box);
    color: var(--text-color);
  
    @media (min-width: 768px) {
      font-size: 14px;
      padding: 6px 12px;
    }
  
    @media (min-width: 1280px) {
      font-size: 15px;
      padding: 6px 14px;
    }
  }

footer{
    margin-top: 20px;
    width: 75vw;
    text-align: center;
}

footer img{
    width: 75vw;
}


.button-wrapper{
    align-items: center;
    text-align: center;
}

a.button {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
    margin: 10px;
    text-decoration: none;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
a.button:hover,
a.button:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

a.button:active {
    background: var(--color);
    color: #fff;
}
